In [4]:
from datascience import *
import datetime
import matplotlib.pyplot as plt
import numpy as np

%matplotlib inline

In [8]:
Problem = Table.read_table('Problem_VehicleShipmentRequirement.csv')
Problem

VIN                                  | Plant | Dealer | Plant_Arrival_Time
000003CD-DD91-4EAF-8CDB-D31A35CB4C65 | RO    | 14135  | 3/8/2015 1:53:00
00000686-CBF0-455B-BDA8-85EAADCC31B9 | RO    | 13449  | 3/16/2015 2:58:00
000017BF-BDF6-4B0B-88D5-46823B40DC1B | RO    | 18672  | 3/31/2015 6:17:00
00001999-A906-4391-A4DC-D4AC235EA6A3 | FF    | 13619  | 10/18/2015 16:58:00
00001EDD-CDE4-49EB-957A-6FB1FE093E80 | RO    | 16070  | 10/19/2015 4:35:00
0000209E-135A-4EB7-B3CF-8B139BA3A24F | 3A    | 13782  | 6/27/2016 19:58:00
0000253D-FB0F-4EB9-8FBB-F3B5F91C20C4 | RO    | 16070  | 2/13/2016 15:55:00
000025D5-B3E3-40F2-B64E-FC0D92FE607A | 3A    | 16263  | 12/8/2015 8:46:00
0000306A-CBB7-449C-A144-AC6EFEA1F8F3 | FF    | 16017  | 5/22/2015 3:01:00
00003411-7D48-443E-93B9-47C9B6BABD05 | SO    | 14629  | 12/14/2015 22:16:00
... (1866677 rows omitted)

In [31]:
Location = Table.read_table('LocationLatLong.csv')
VDC_cost = Table.read_table('VDCcost.csv')
Logistics_cost = Table.read_table('Logistics_cost.csv')
Existing_VDC = Table.read_table('ExistingVDC.csv')

In [21]:
Table.read_table('DataSet1/VehicleShipmentRequirement_DataSet1.csv')

VIN                                  | Plant | Dealer | Plant_Arrival_Time
0000209E-135A-4EB7-B3CF-8B139BA3A24F | 3A    | 13782  | 6/27/2016 19:58:00
000025D5-B3E3-40F2-B64E-FC0D92FE607A | 3A    | 16263  | 12/8/2015 8:46:00
00005A68-41A6-427E-ADF6-C56EAF93CF7B | 3A    | 15716  | 2/11/2015 5:33:00
00008C21-6A2B-4890-8A97-3002652B60A3 | 3A    | 13196  | 4/19/2016 19:25:00
0000DF31-1E60-404E-931D-403D0AA39673 | 3A    | 16214  | 11/29/2016 11:54:00
0000E801-8446-4EE9-B60F-02F964F0D5DA | 3A    | 13777  | 6/8/2016 4:36:00
000100F2-6A46-4F7A-8790-D7F0C8F2BE69 | 3A    | 20783  | 4/6/2016 6:48:00
00013567-B2FB-4360-9B72-D967F8045FE7 | 3A    | 20564  | 9/13/2016 15:49:00
0001513B-3B7E-4ABF-9DE7-795E9BA3B823 | 3A    | 20092  | 11/19/2016 0:35:00
00017A42-4FB7-4BB4-81B4-F07E3C25DBBA | 3A    | 20665  | 11/8/2016 2:07:00
... (422971 rows omitted)

In [30]:
Location.where('Dealer?',0)

Location | Dealer? | Latitude | Longitude
1B       | 0       | 19.66    | 170.44
2M       | 0       | 32.31    | -178.84
3A       | 0       | 32.48    | -178.36
3F       | 0       | 22.51    | 172.08
3W       | 0       | 25.18    | 176.83
4C       | 0       | 24.09    | 162.16
4J       | 0       | 21.9     | 163.14
7J       | 0       | 21.93    | 169.4
7M       | 0       | 20.16    | 170.06
8F       | 0       | 32.47    | -178.13
... (102 rows omitted)

In [24]:
Problem.group('Plant')

Plant | count
3A    | 422981
FF    | 304684
RO    | 555245
SO    | 583777

In [39]:
Existing_VDC = Table.read_table('ExistingVDC.csv')
Existing_VDC = Existing_VDC.join('VDC',Location,'Location')
Existing_VDC.drop('Dealer?')

VDC  | Capacity | Rail Available | Latitude | Longitude
3A   | 4730     | True           | 32.48    | -178.36
3F   | 170      | True           | 22.51    | 172.08
4J   | 840      | False          | 21.9     | 163.14
7J   | 480      | True           | 21.93    | 169.4
7M   | 200      | True           | 20.16    | 170.06
BC   | 1150     | False          | 29.5     | 171.76
BE   | 1710     | False          | 17.86    | 159.17
BM   | 50       | True           | 32.56    | -152.74
CE   | 810      | True           | 21.87    | 174.25
CW   | 40       | False          | 19.9     | 169.95
... (34 rows omitted)

In [43]:
Existing_VDC.where('VDC','SO')

VDC  | Capacity | Rail Available | Dealer? | Latitude | Longitude
SO   | 5020     | True           | 0       | 44.83    | -176.64

In [ ]:
Results Template 4_ShipDetails_DataSet1